[Unit]
Description=[=======USB-HDD-spindown============]
DefaultDependencies=no
After=umount.target
Before=shutdown.target reboot.target halt.target

[Service]
ExecStart=/bin/bash /sbin/hddspindown.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target